@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&family=Noto+Sans&display=swap');

.user-title{
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
}
mat-toolbar{
  background-color: white;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .profile{
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    width: 40px;
    height:40px;
    overflow: hidden;
}
.image{
  width:100%;
  height:100%;
  object-fit: cover;
}
/* mat-toolbar.sticky{
  background-color: rgba(0, 0, 0, 0.961);
  background: rgba(255, 255, 255, 0.51);;
  backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
} */
.secondToolbar {
  position: fixed;
  background: rgba(255, 255, 255, 0.51);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  top: 0;
  height: 0;
  opacity: 0;
  transition-duration: 3s, 1s;
  transition: opacity 0.89s ease-out, height 0.89s ease;
  cursor: default;
  user-select: none;
  -webkit-transition: opacity 0.89s ease-out, height 0.89s ease;
  -moz-transition: opacity 0.89s ease-out, height 0.89s ease;
  -ms-transition: opacity 0.89s ease-out, height 0.89s ease;
  -o-transition: opacity 0.89s ease-out, height 0.89s ease;
}
.sticky {
  height: 64px;
  opacity: 1;
  z-index: 999;
  transition: opacity 0.25s ease-out, height 0.15s ease;
}