<app-toolbar></app-toolbar>

<div class="container-fluid" style="background-color: #050c1b">
  <div>
    <h1 class="p-3 text">Angular (Basic) Skills Certification Test</h1>
  </div>
  <hr class="text" />
  <div>
    <div class="row">
      <div class="col-md-6">
        <div class="p-4">
          <h1 class="text-left text" style="font-weight: 500; font-size: 25px">
            Verify your Angular Skills. Accelerate your Job Search.
          </h1>
          <p class="text1">
            Take the HackerRank Skills Certification Test and showcase your
            knowledge as a HackerRank verified developer.
          </p>
        </div>
        <div class="d-flex justify-content-center">
          <button
            mat-raised-button
            style="background-color: #1ba94c; color: white"
            [routerLink]="['/exam']"
          >
            Take the Gravity Skills Test
          </button>
        </div>
      </div>
      <div class="col-md-6 p-3">
        <img
          src="assets/images/hackerrank_svg.svg"
          class="img-fluid"
          alt=""
          style="height: 400px"
        />
      </div>
    </div>
  </div>
  <div style="background-color: #1d2432">
    <div class="row">
      <div class="col-md-6">
        <div class="p-4">
          <h1 class="text text-center">Skill over pedigree</h1>
          <img
            src="assets/images/time.svg"
            class="img-fluid"
            alt=""
            style="height: 400px"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-4">
          <mat-list>
            <mat-list-item style="margin-bottom: 10px">
              <mat-icon matListItemIcon style="color: white">verified</mat-icon>
              <div
                matListItemTitle
                style="font-size: 25px; font-weight: 700; color: aliceblue"
              >
                Prove your Skills
              </div>
              <div matListItemLine style="color: #d3d3d3">
                The Gravity Skills Certification Test is a standardized
                assessment to help <br />
                developers prove their coding skills.
              </div>
            </mat-list-item>
            <mat-list-item style="margin-top: 10px">
              <mat-icon matListItemIcon style="color: white"
                ><span class="material-symbols-outlined">
                  flag_circle
                </span></mat-icon
              >
              <div
                matListItemTitle
                style="font-size: 25px; font-weight: 700; color: aliceblue"
              >
                Get noticed by companies
              </div>
              <div matListItemLine style="color: #d3d3d3">
                Candidates who successfully clear the test will be specially
                highlighted to <br />companies when they apply to relevant
                roles.
              </div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
