
<div class="container-fluid p-2">
    <div class='container-fluid'>
        <div class="row align-items-md-stretch">
         <p class='h1 text-center p-2' >OH! Brother  <strong style="color:crimson"><404/></strong> Page Not Found </p> 
            <div class="col-md-6">
                <div
                    class="h-150 p-2  ">
                    <p class='display-1 p-2'  style=font-weight:bolder;color:crimson> Oops!</p>
                    <div class=" display-6 p-2" style=font-weight:bold;color:#607d8b>We can't seem to find the page you're loking for  </div>
                    <p class='p-2' style=font-weight:bold> Error Code : <strong style=color:crimson >404</strong></p>
                </div>
                <div class="d-flex justify-content-center">
                    <a mat-raised-button [routerLink]="'/'" style="background-color: #1a73e8; color: white;">Back To Home Page</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-2 ">
                    <img src='assets/images/developer.gif' alt="" class='img-fluid'  />
                </div>
            </div>
        </div>
    </div>
</div>
