<!-- <app-toolbar></app-toolbar> -->
<div class="container-fluid" style="background-color: aliceblue;">
    <mat-card class="sidenav p-2">
      <mat-card class="box p-2">
        <div class="parent">
          <div class="child d-flex justify-content-center">
            <img class="cover" src="assets/images/login.jpg" alt="" />
          </div>
        </div>
        <div class="parent">
          <h2>{{userDetails.first_name | titlecase}} {{userDetails.last_name | titlecase}}</h2>
        </div>
      </mat-card>
      <mat-card class="p-2" style="margin-top: 10px;">
        <mat-list>
          <mat-list-item [routerLink]="['./test']" routerLinkActive="active">
            <mat-icon matListItemIcon>home</mat-icon>
            <div matListItemTitle>Start Quiz</div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card>
    </mat-card>
  </div>
  <div class="main-contains">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>
  