@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
.example-spacer {
    flex: 1 1 auto;
  }
.logo{
    font-family: 'JetBrains Mono', monospace;
    font-weight: 900;
    color: white;
}
  .sticky {
    height: 64px;
    opacity: 1;
    z-index: 999;
    transition: opacity 0.25s ease-out, height 0.15s ease;
  }
.navigation-bar{
  background-color: #081a3ff5;
}
btn{
  background-color: #1ba94c;
  color: white;
}
/* .box{
  position: relative;
}
.cover{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */
.active-link{
  background-color: #1ba94c;
  color:white
}
.secondToolbar {
  position: fixed;
  background: rgba(255, 255, 255, 0.51);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  top: 0;
  height: 0;
  opacity: 0;
  transition-duration: 3s, 1s;
  transition: opacity 0.89s ease-out, height 0.89s ease;
  cursor: default;
  user-select: none;
  -webkit-transition: opacity 0.89s ease-out, height 0.89s ease;
  -moz-transition: opacity 0.89s ease-out, height 0.89s ease;
  -ms-transition: opacity 0.89s ease-out, height 0.89s ease;
  -o-transition: opacity 0.89s ease-out, height 0.89s ease;
}