@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&family=Noto+Sans&display=swap');
.example-spacer {
    flex: 1 1 auto;
  }
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}
  
.example-radio-button {
  margin: 5px;
}
  