<mat-toolbar>
  <span>Welcome, {{ name }}</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="container">
  <div
    *ngFor="let q of questions" 
  >
    <mat-card style="margin-top: 15px">
      <h1 class="text-center p-1">Question : {{ q.question }} ?</h1>
      <hr />
      <div class="container">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="favoriteSeason"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let op of q.options"
            value="{{ op }}"
            (click)="add(q.question, op)"
          >
            {{ op }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div>Your favorite season is: {{ favoriteSeason }}</div>
    </mat-card>
  </div>
</div>
